@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-image: url('./assets/img/banner-bg.png');
  background-size: 100%;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 20%; /* Ajustați lățimea după nevoie */
  height: auto; /* Pentru a menține raportul de aspect */
  padding: 10px; /* Adăugați umplere pentru cadru */
  border: 2px solid white; /* Adăugați o margine în jurul logo-ului */
  border-radius: 10px; /* Adăugați raza marginii pentru un cadru rotunjit */
  display: flex;
  align-items: center;
  justify-content: center;
}

#basic-navbar-nav {
  display: flex !important;
  justify-content: space-between !important; 
}

.nav-bar-icons {
  display: flex;
  align-items: center;
  margin-left: 41px;
}



nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {

  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text a svg{
  width: 30px;
  height: 30px;
}

.nav-link{
margin-left: 40px;
font-size: 24px;
}

.nav-link svg {
  font-size: 35px; 
}

.navbar-text ul {
  display:flex;
  gap: 15px;
  margin: 0;

}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}






.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(106, 99, 103, 0.5) -5.91%, rgba(85, 61, 79, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}

.secondary-connect-button {
  border: 2px solid;
    padding: 14px;
    /* color: #fff; */
    background: rgba(42, 40, 41, 0.5);

}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}



/* *******Presentation****** */

.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -10px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}




.intro-about {
  font-family: Arial, sans-serif; /* Setarea fontului */
  font-size: 18px; /* Dimensiunea textului */
  line-height: 1.5; /* Înălțimea liniei pentru o lizibilitate mai bună */
  color: #fff; /* Culoarea textului */
  margin-top: 65px;
}

.intro-title {
  font-weight: bold; /* Ingroasa scrisul pentru titlu */
  color: #cfcdab; /* Culoarea titlului */
}



.custom-h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
    font-size: 23px;
    color: #beccd6c2;
}

.custom-list {

 margin-top: 75px;
 font-weight: bold;
    font-size: 23px;
    color: #f4f5f6c2;
}

.custom-list li {
  margin-bottom: 10px;
  background-image: url('./assets/img/car-icon1.png'); /* Calea către imagine */
  background-size: 25px 20px; /* Dimensiunile imaginii */
  background-repeat: no-repeat; /* Opriți repetarea imaginii */
  background-position: left center; /* Poziția imaginii în stânga */
  padding-left: 25px; 
}





.right-align {
  text-align: right; /* Alinează elementele la dreapta */
  float: right; /* Permite elementelor să fie pe aceeași linie și să fie aliniate la dreapta */
  clear: right; /* Asigură ca elementele din stânga să nu se suprapună pe cele din dreapta */
  width: 50%; /* Lățimea pentru elementele din dreapta (50% pentru a le face să se încadreze pe aceeași linie) */
}

.container-about {
  border: 2px solid #b08e5f; /* Borda containerului */
  border-radius:44px;
  padding: 45px; /* Spațierea interioară a containerului */
  margin: 20px 20px; /* Margini exterioare pentru separare */
  background-color: #33321c /* Culoarea de fundal a containerului */
}



.footer {

  background-image: url('./assets/img/bricks.png');
 
}


.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -12px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #6b686a -5.91%, #111113 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #afafaf -5.91%, #282829 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 60%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.video-background{
  opacity: 20%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.about-content{
  margin-bottom: 35%;
  
}

.container-contact-page{
  margin-top: 10%;
  background-color: rgb(181, 167, 88) ;
  padding: 20px;
  /* margin: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10%;
}

.container-contact-page h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.container-contact-page p {
  font-size: 16px;
  margin-bottom: 15px;
}

.span-email-color {
  color: #007bff; /* sau orice altă culoare dorită */
}


.container-about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.stage-cube-cont {
  width: 300px;
  height: 300px;
  perspective: 1200px;
  margin-left: 37%;
  margin-top: -30%;
  margin-bottom: 60px;
  float: right;
  margin-right: 100px;
}

.cubespinner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spincube 12s linear infinite;
}

.cubespinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px lightyellow;
}

.face1 {
  transform: rotateY(0deg) translateZ(150px);
  color: #dd0031;
}
.face2 {
  transform: rotateY(90deg) translateZ(150px);
  color: #f06529;
}
.face3 {
  transform: rotateY(180deg) translateZ(150px);
  color: #28a4d9;
}
.face4 {
  transform: rotateY(-90deg) translateZ(150px);
  color: #5ed4f4;
}
.face5 {
  transform: rotateX(90deg) translateZ(150px);
  color: #efd81d;
}
.face6 {
  transform: rotateX(-90deg) translateZ(150px);
  color: #ec4d28;
}

@keyframes spincube {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}





.about-info-text{
  float: right;
    margin-right: 8%;
    margin-top: -33%;
    text-decoration: underline;
}

.about-style-title {
position: absolute;
  top: 60px;
  left: 50%;
  margin: 60px;
  transform: translateX(-50%);
}

.color-paragraph{
  color: rgb(182, 179, 163);
}


.services-container {
  display: flex;
  justify-content: space-between;
  float: right;
  margin-top: -19%;
  margin-right: 5%;
  font-weight: 300;
  color: #afb2ae;
  font-size: 25px;
}

.left-column,
.right-column {
  flex-basis: 48%; 
}

.subtext-about{
  float: right;
    width: 50%;
    margin-top: -28%;
    font-weight: 300;
    font-weight: 400;
    font-size: 20px;
}





.image-container {
  display: flex; 
  align-items: center; 
}

.about-pic {
  width: 50%;
  margin-right: 20px;
  margin-top: 46px;
  float: right;
  border-radius: 55px;
}

.service-description{
  margin-top: 6%;
    margin-right: 59px;
    font-weight: 400;
    color: #afb2ae;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    font-size: 20px;
    margin-left: 15px;
}

.list-about-item{
  margin-bottom: 10px;
}

.icon{
  width: 47%;
  border-radius: 65px;
  margin-top: 60px;
}

.service-picture {
  width: 200px;
  height: auto;
}

.section_text_p1{
  margin-top: 11%;
  display: flex;
  justify-content: center;
  height: 8vh;
  font-weight: 900;
  font-size: 44px;
  color: #fffffd;
}

.title-section1{
  margin-top: -2%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 28px;
  color: #dedaaf;
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    color: #ffd700;
  }
}


.service-features{
  color: #c2c2c2;
    margin-top: -36px;
    font-style: unset;
    border: 5px solid #a29756;
    border-radius: 10px;
    border-style: groove;
    margin-right: 57%;
}


/* .contact-form {
  width: 100%;
  margin-top: 5%;
} */

.contact-form {
  width: 100%;
  margin-top: 5%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-h1{
  font-size: 45px;
  margin-left: 23px;
  line-height: 66px;
  color: rgb(14, 13, 13);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #1c1a1a;
  border-radius: 5px;
  font-size: 16px;
}

/* .contact-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
} */




.contact-form ul { 
  padding: 0;
  margin: 0;
}

.contact-form li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    opacity: 0;
    animation: fadeInUp 2s 2s;
    animation-fill-mode: forwards;
    clear: both;
  }

.contact-form li.half {
  width: 49%;
  margin-left: 2%;
  float: left;
  clear: none;
}

.contact-form :first-child{

  width: 75%;
}



input[type='text'],
input[type='email'] {
  width: 100%;
  border: 0;
  /* background-color: #dbdbd8; */
  height: 50px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}




textarea {
  width: 100%;
  border: 0;
  background-color: #dbdbd8;
  height: 50px; 
  font-size: 16px;
  color: #fff;
  padding: 20px;
  min-height:150px ;
  box-sizing: border-box;
}

.flat-button{
  color: #1d1d1b;
    background-color: 0 0;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #7d7342;
    float: right;
    border-radius: 4px;
    margin-right: 9%;

}





.info-map {
  position: absolute;
  background-color: #000;
  top: 50px;
  right: 30%;
  z-index: 99999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size:17px ;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode:forwards ;

}

 .span-email-color {
  font-size:16px ;
  display: block;
  padding-top: 20px;
  color: #c1951c ;
}



.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  float: right;
  width: 53%;
  height: 115%;
  margin-top: -3%;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

.info-map {
  position: absolute;
  background: #000;
  top: 50px;
  right: 30%;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;

    span {
      color: #ffd700;
    }
  }
}

@media screen and (max-width: 1200px) {
  .map-wrap {
    float: none;
    margin: 0;
    width: 100%;
    height: 400px;
  }
  
  .info-map {
    display: none;
  }
}

/* *******Login****** */

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-section {
  background-color: rgba(0, 0, 0, 0.4);
  width: 50%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.login-signIn {
  color: #a8a8a8;
  text-align: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  text-align: center;
}



.login-button {
  background-color: #8c8c8c;
  color:white;
  text-align: center;
  padding: 0.7rem;
  border-radius: 0.5rem;

}

.login-input {
  width: 100%;
  padding: 0.25rem;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  border-radius: 0.5rem;
}

.login-register-button {
  text-align: center;
}

.login-signUp {
  background-color: grey;
  margin-top: 5px;
  text-align: center;
  padding: 0.1rem 2%;
  color: #ffffff;
  border-radius: 5px;
}

#firstName,
#lastName,
#phoneNumber,
#email,
#username {
  color: black;
}

/* *******Register****** */

.register-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-success{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-section {
  background-color: rgba(0, 0, 0, 0.4);
  width: 70%;
  max-width: 420px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.register-h1 {
  color: #a8a8a8;
  text-align: center;
}

.register-form {
  text-align: center;

}

.register-input {
  width: 100%;
  padding: 0.25rem;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  border-radius: 0.5rem;
}

.register-button {
  background-color: #8c8c8c;
  color:white;
  text-align: center;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.register-signUp {
  background-color: #8c8c8c;
  color:white;
  text-align: center;
  padding: 0.4rem 42%;
  border-radius: 0.5rem;
  margin-top: 20px;

}

.register-button-signIn{

  background-color: grey;
  margin-top: 5px;
  text-align: center;
  padding: 0.1rem 2%;
  color: #ffffff;
  border-radius: 5px;
}

.register-login-button {
  margin-top: 10px;
  text-align: center;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

/* *******UserPage****** */

.userPage-editProfileButton {

  color: red;
}